* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@view-transition {
    navigation: auto;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    font-family: 'Inter';
    font-size: 1.5rem;
    color: #fff;
    background-color: #f8a723;
}

span {
    color: #E58C0E;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_opsz\,wght.ttf');
    font-style: normal;
    font-weight: normal;
}

.background {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    box-shadow: 0 1px 80px 1px #0d0d0c;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

.container-course {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
}

.header-inner {
    color: #fff;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-site {
    font-size: 2.6rem;
    background: linear-gradient(90deg, rgba(229, 140, 14, 1) 8%, rgba(255, 215, 159, 1) 87%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.search-login-reg {
    display: flex;
    align-items: center;
    gap: 80px;
}

.search-header {
    border: none;
    outline: none;
    height: 40px;
    width: 800px;
    border-radius: 20px;
    padding: 20px;
    font-size: 1.5rem;
    color: #E58C0E;
    font-weight: 700;
}

.log-in {
    border: none;
    background-color: #fff;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    font-size: 1.4rem;
}

.reg {
    border: none;
    background-color: #E58C0E;
    border-radius: 20px;
    width: 180px;
    height: 40px;
    font-size: 1.4rem;
    color: #fff;
}

.start {
    margin: 90px 0 35%;
}

.start-text {
    font-weight: 500;
    font-size: 3rem;
    width: 800px;
    line-height: 50px;
    margin-bottom: 50px;
}

.start-link {
    background-color: #E58C0E;
    font-size: 2rem;
    padding: 10px 40px;
    text-transform: uppercase;
    border-radius: 20px;
    font-weight: 700;
}

.catalog-title {
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.catalog-item {
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
    padding: 20px 10px;
    background-color: #13130e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap: 1px;
}

.catalog-item-title {
    background: linear-gradient(90deg, rgba(229, 140, 14, 1) 8%, rgba(255, 215, 159, 1) 87%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

.catalog-item-img {
    border: 1px solid #E58C0E;
    box-shadow: 0px 0px 10px 0 #f8a723;
    margin-bottom: 10px;
}

.author {
    font-size: 0.8rem;
    color: #F2D475;
}

.complexity {
    accent-color: orange;
    width: 200px;
}

.complexity-text {
    font-size: 0.9rem;
    margin-top: -10px;
    color: #E58C0E;
}

.catalog-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 30px;
    margin: 0 auto 50px;
    width: 1290px;
}

.catalog-link {
    display: block;
    margin: -25px 0 30px;
    font-size: 2.5rem;
    color: #22211f;
    font-weight: 600;
    border-bottom: 3px solid #000;
}

.popular-author {
    background-color: #E58C0E;
}

.catalog-cource-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    margin-top: 60px;
}

.catalog-cource-list {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0 50px;
    list-style: none;
    font-size: 1.9rem;
    padding-bottom: 10px;
    border-bottom: 2px solid #E58C0E;
}

.catalog-cource-list-link {
    transition: all 0.3s;
}

.catalog-cource-list-link:hover {
    color: #F2D475;
}

.popular-author-title {
    text-transform: uppercase;
    padding-top: 20px;
    color: #F2D475;
    margin-bottom: 40px;
}

.popular-author {
    background-image: url('../IMAGES/author-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 1px 80px 1px #0d0d0c;
    padding-bottom: 70px;
}

.popular-author-list {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.popular-author-list-scroll {
    display: flex;
    justify-content: space-between;
    overflow: wrap;
    gap: 30px;
}

.popular-author-item {
    background-color: #B07142;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    min-width: 400px;
}

.hidden-box {
    max-width: 100px;
    max-height: 100px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;
}

.photo-author {
    width: 100%;
}

.popular-author-name {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
}

.popular-author-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.count-complated-course {
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
}

.log-in-link {
    color: #E58C0E;
}

.none-color {
    background-color: #000;
}

.log-in-background {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: block;
    filter: blur(15px);
}

.center-log-ing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.log-in-form {
    filter: blur(0px);
    width: 700px;
    height: 450px;
    border: 2px solid #E58C0E;
    background-color: #1a1a1a;
    border-radius: 25px;
    padding: 80px 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0 #B07142;
}

.reg-form {
    filter: blur(0px);
    width: 700px;
    height: 450px;
    border: 2px solid #E58C0E;
    background-color: #1a1a1a;
    border-radius: 25px;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0 #B07142;
}

.input-form {
    height: 60px;
    font-size: 2rem;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    border: none;
    color: #fff;
    background-color: #ec8f47;
    margin-bottom: 40px;
}

.input-form::placeholder {
    color: #fff;
}

.return-password {
    display: flex;
    justify-content: end;
    margin-bottom: 30px;
    font-size: 1.4rem;
}

.return-password-link {
    color: #979797;
}

.log-in-btn {
    text-align: center;
    padding: 10px;
    width: 300px;
    font-size: 2rem;
    color: #fff;
    border-radius: 25px;
    margin: 0 auto;
    background-color: #da6b12;
}

.reg-btn {
    text-align: center;
    padding: 10px;
    width: 400px;
    font-size: 2rem;
    color: #fff;
    border-radius: 25px;
    margin: 0 auto;
    background-color: #da6b12;
}

.log-in-btn:hover {
    transition: all 0.1s;
    border: 1px solid #E58C0E;
    box-shadow: 0 0 10px 0 #E58C0E;
}

.reg-btn:hover {
    transition: all 0.1s;
    border: 1px solid #E58C0E;
    box-shadow: 0 0 10px 0 #E58C0E;
}

.header {
    background-color: #22211f;
}

.zero {
    padding: 10px;
}

.aside {
    background-color: #22211f;
    border: 1px solid #f8a723;
    min-height: 100vh;
    border-bottom: none;
}

.aside-item {
    list-style: none;
    width: 270px;
}

.aside-item-link {
    text-align: left;
    display: flex;
    padding: 15px;
    font-size: 1.2rem;
    background-color: #22211f;
    color: #FFF;
    border: none;
    width: 100%;
    transition: all 0.5s;
}

.aside-item-link:hover {
    background-color: #3d3d3d;
    transition: all 0.4s;
}

.course-info {
    width: 100%;
    background-color: #f8a723;
}

.background-color-zero {
    background-color: #22211f;
}

.name-chapter {
    margin-top: 5px;
    border-bottom: 1px solid #FCCE85;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #22211f;
}

.mini-cintainer {
    max-width: 1000px;
    margin: 0 auto;
    color: #22211f;
}

.chapter-title {
    margin-top: 20px;
}

.text-course {
    margin-top: 30px;
    font-size: 1.4rem;
    margin-bottom: 40px;
}

.course-list>b {
    display: block;
    margin-bottom: 10px;
}

.course-item {
    margin: 0 0 20px 25px;
}

.course-info-video {
    min-width: 900px;
    margin: 0 auto;
    display: block;
}











.footer {
    background-color: #22211f;
    height: 50px;
    display: flex;
    align-items: center;
}

.footer-text {
    font-size: 1.2rem;
    text-align: center;
}